
/*DESCUBRE*/
#Descubre{
    display:grid;
    grid-template-columns: 2fr 8fr ;
    padding: 10px;
    gap: 20px;
}

/*CUENTA*/
#Descubre #Cuenta{

    margin-left: 20px;
    margin-right: 20px;;
    text-align: center;
    border-radius: 25px;
    background-color: #FFD9B9;
    padding: 20px;
    height: 370px;
   
}

#Descubre #Cuenta img.img-perfil{
   margin: 30px;
    width: 70px;
    height: 70px;
}

#Descubre #Cuenta button{
    font-size: 14px;
    font-weight: 525;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 40px;
    background-color: #614834;
    color: white;
    border: none;
    cursor: pointer;
}

#Descubre #Cuenta button img{
    color: white;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/*FILTROS*/
#Descubre #Filtros{
    margin-top: 30px;
    text-align: center;
    border-radius: 25px;
    background-color: #F4AF74;
    margin-left: 20px;
    margin-right: 20px;;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    height: 370px;
}

#Filtros #typefiltro{
    margin-bottom: 20px;
}

#Filtros #title{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

#Filtros #header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#Filtros img{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

#Filtros #name{
    font-size: 18px;
    font-weight: 600;
    color: black;
}

#selec-filtro{
    width: 80%;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0px;
    border-radius: 5px;
    border: none;
    background-color: #FFD9B9;
}





