


/*DESCUBRE*/
#Descubre{
    display:grid;
    grid-template-columns: 2fr 8fr ;
    padding: 10px;
    gap: 20px;
}

/*CUENTA*/
#Descubre #Cuenta{
    margin: 20px;
    text-align: center;
    border-radius: 25px;
    background-color: #FFD9B9;
    padding: 20px;
    height: 370px;
   
}

#Descubre #Cuenta img.img-perfil{
   margin: 30px;
    width: 70px;
    height: 70px;
}

#Descubre #Cuenta button{
    font-size: 14px;
    font-weight: 525;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 40px;
    background-color: #614834;
    color: white;
    border: none;
    cursor: pointer;
}

#Descubre #Cuenta button img{
    color: white;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}






