
<app-breadcrumb></app-breadcrumb>

<div class="container-flex" style="margin-bottom: 100px;">

    <div class="descubre" id="Descubre">
        <div>

            <div id="Filtros" *ngIf="esRutaDescubre()">
                <div id="header" style="margin-bottom: 20px;">
                    <p  id="title">FILTRAR POR</p><img src="../assets/filtro-icon.png">
                </div>
                
                <div id="typefiltro">
                    <p id="name">Tema</p>
                    <select class="selec-filtro" id="selec-filtro" [(ngModel)]="tema">
                        <option value="No especificado">No especificado</option>
                        <option value="Nutrición">Nutrición</option>
                        <option value="Comportamiento">Comportamiento</option>
                        <option value="Cuidados médicos">Cuidados médicos</option>
                        <option value="Crianza">Crianza</option>
                    </select>
                </div>
                <div id="typefiltro">
                    <p id="name">Tipo de Mascota</p>
                    <select class="selec-filtro" id="selec-filtro" [(ngModel)]="tipoMascota" (change)="actualizarRazas()">
                        <option value="No especificado">No especificado</option>
                        <option value="Perros">Perros</option>
                        <option value="Gatos">Gatos</option>
                        <option value="Aves">Aves</option>
                        <option value="Roedores">Roedores</option>
                        <option value="Peces">Peces</option>
                        <option value="Reptiles">Reptiles</option>
                    </select>
                </div>
                <div id="typefiltro">
                    <p id="name">Raza</p>
                    <select class="selec-filtro" id="selec-filtro" [(ngModel)]="raza">
                        <option value="No especificada">No especificada</option>
                        <option *ngFor="let r of razas" [value]="r">{{ r }}</option>
                    </select>
                </div>
            </div>        

        </div>
            


        <div id="Publicaciones">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
