<div>
    <div class="fondo">
        <div class="contenedor">
            <h1>CONECTA CON MÁS AMANTES DE LAS MASCOTAS COMO TÚ</h1>
            <p>Si amas a los animales, únete a nuestra comunidad. Celebramos la alegría que las mascotas nos brindan y compartimos historias y consejos. Juntos, creamos un refugio de amor animal donde nuestras mascotas son adoradas y respetadas. Únete a nosotros y haz del mundo un lugar más amigable para nuestros fieles amigos de cuatro patas.</p>
            <button class="button-1" routerLink="/intranet/descubre">Empieza ya  <i class="bi bi-arrow-right-circle-fill"></i></button>
        </div>
    </div>

    <div id="veterinarias">

        <h2>ENCUENTRA VETERINARIAS DE CONFIANZA</h2> 
        <div class="contenido-adicional">
            <div class="veterinarios" id="veterinarios">
                <div class="veterinario-item">
                    <div class="imagen">
                        <img src="./assets/vet.png" alt="Imagen del veterinario" style="border-radius: 30px;">
                    </div>
                    <div class="texto">
                        <p style="font-weight: 800; color: #411e0e; ">¿No encuentras veterinarias de confianza cerca de tu zona?</p>
                        <p>No te preocupes, en PetsNature podemos ayudarte.</p>
                        <button class="button-2" routerLink="/intranet">Buscar Veterinarias</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="banner-inferior">
               
        </div>
    </div>

</div>