<div>
    <div class="fondo">
        <div class="contenedor">
            <h1>CONECTA CON MÁS AMANTES DE LAS MASCOTAS COMO TÚ</h1>
            <p>"Si amas a los animales, únete a nuestra comunidad. Celebramos la alegría que las mascotas nos brindan y compartimos historias y consejos. Juntos, creamos un refugio de amor animal donde nuestras mascotas son adoradas y respetadas. Únete a nosotros y haz del mundo un lugar más amigable para nuestros fieles amigos de cuatro patas."</p>
            <button class="button-1" routerLink="/intranet/descubre">Empieza ya  <i class="bi bi-arrow-right-circle-fill"></i></button>
        </div>
    </div>
        <h2>ENCUENTRA VETERINARIAS CERCANAS</h2> 
    <div class="contenido-adicional">
        <div class="veterinarios" id="veterinarios">
            <div class="veterinario-item">
                <div class="imagen">
                    <img src="./assets/vet.png" alt="Imagen del veterinario">
                </div>
                <div class="texto">
                    <p>"La Dra. García es un veterinario apasionada y dedicada que ofrece un excepcional servicio de cuidado animal. Su atención amorosa y su experiencia en el tratamiento de mascotas hacen que sea la elección perfecta para garantizar la salud y felicidad de tu fiel compañero."</p>
                    <button class="button-2" routerLink="/intranet">Ver más</button>
                </div>
            </div>
        </div>
        <div class="banner-inferior">
            <!--
            <img src="./assets/bannerabajo.jpg" alt="Banner inferior">
            -->
        </div>
    </div>
</div>