#FiltroTipoBtn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFD9B9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
} 

#FiltroTipoBtn button{
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin: 5px;
    border-radius: 20px;
    background-color: #F99A5B;
    border: none;
    padding: 10px 0px;
    cursor: pointer;
}