<div style="margin-right: 280px; margin-left: 50px;">
<div id="FiltroTipoBtn">
    <button type="button" (click)="setCategoria('informacion')" [style.background-color]="getButtonStyles('informacion').backgroundColor" [style.color]="getButtonStyles('informacion').color">
        Información
    </button>
    <button type="button" (click)="setCategoria('pregunta')" [style.background-color]="getButtonStyles('pregunta').backgroundColor" [style.color]="getButtonStyles('pregunta').color">
        Preguntas
    </button>
    <button type="button" (click)="setCategoria('recomendacion')" [style.background-color]="getButtonStyles('recomendacion').backgroundColor" [style.color]="getButtonStyles('recomendacion').color">
        Recomendaciones
    </button>
</div>

<app-info *ngIf="categoria=='informacion'"></app-info>
<app-preguntas *ngIf="categoria=='pregunta'"></app-preguntas>
<app-recomendaciones *ngIf="categoria=='recomendacion'"></app-recomendaciones>
</div>