<div class="container" id="PubRecomendaciones">
    <div id="cabecera">
        <img src="https://i.ibb.co/hyNMTpx/perfil-xd.png">
        <div id="cabecera-text">
            <span id="Nombre">
                LUCÍA CARMEN ESPINOZA ROJAS
            </span>
            <span id="time">13/11/23</span>
        </div>
    </div>

    <div id="PubBody">
        <p>Alimentación saludable para nuestras adorables mascotas! 🐾
            ¡Hola a todos los amantes de las mascotas! Quiero compartir una recomendación clave que ha transformado la vida de mi peludo amigo, Rocky. La nutrición es fundamental para mantener a nuestras mascotas felices y saludables, así que aquí van mis consejos:
            🥗 Dieta natural y equilibrada: Hace algún tiempo, decidí cambiar la dieta de Rocky a una opción más natural y equilibrada. Opté por alimentos de alta calidad que incluyen ingredientes frescos y nutrientes esenciales. ¡La diferencia ha sido asombrosa!
            🍠 Evitar alimentos procesados: Reduje la cantidad de alimentos procesados en su dieta. Estos alimentos suelen contener aditivos y conservantes que pueden no ser lo mejor para su salud a largo plazo.
            <br>
            <br>
            <span id="Hashtag">#CuidadoDeMascotas #Tips #Dieta #Saludable</span>
        </p>
    </div>
    
    <div id="botones">
        <a>
            <img src="../assets/mg-icon.png">
        </a>
        <a >
            <img src="../assets/coment-icon.png" >
        </a>
        <a>
            <img src="../assets/compartir-icon.png">
        </a>
    </div>

    <div id="comentario-content">
        <textarea id="comentario" class="form-control" placeholder="Comentar publicación..." cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        <button >
            <img src="../assets/enviar-icon.png"></button>
    </div>

</div>

