<div class="container" id="PubRecomendaciones">
    <div id="cabecera">
        <img src="https://i.ibb.co/hyNMTpx/perfil-xd.png">
        <div id="cabecera-text">
            <span id="Nombre">
                LUCÍA CARMEN ESPINOZA ROJAS
            </span>
            <span id="time">hace 8 horas</span>
        </div>
    </div>
    <div id="PubBody">
        <p>Alimentación saludable para nuestras adorables mascotas! 🐾
            ¡Hola a todos los amantes de las mascotas! Quiero compartir una recomendación clave que ha transformado la vida de mi peludo amigo, Rocky. La nutrición es fundamental para mantener a nuestras mascotas felices y saludables, así que aquí van mis consejos:
            🥗 Dieta natural y equilibrada: Hace algún tiempo, decidí cambiar la dieta de Rocky a una opción más natural y equilibrada. Opté por alimentos de alta calidad que incluyen ingredientes frescos y nutrientes esenciales. ¡La diferencia ha sido asombrosa!
            🍠 Evitar alimentos procesados: Reduje la cantidad de alimentos procesados en su dieta. Estos alimentos suelen contener aditivos y conservantes que pueden no ser lo mejor para su salud a largo plazo.
            <br>
            <br>
            <span id="Hashtag">#CuidadoDeMascotas #Tips #Dieta #Saludable</span>
        </p>
    </div>
    <input type="text" id="comentario" class="form-control" placeholder="Comentar publicación...">
    <div id="botones">
        <a href="#"><img src="https://i.ibb.co/64MsRVG/coment-icon.png"></a>
        <a href="#"><img src="https://i.ibb.co/Sd3PBCq/compartir-icon.png"></a>
        <a href="#"><img src="https://i.ibb.co/PrS3sbH/mg-icon.png"></a>
    </div>
</div>

