ol.Breadcrumb{
    padding: 10px 16px;
    list-style: none;
}

ol.Breadcrumb li{
    display: inline;
    font-size: 14px;
    font-weight: 600;
}

ol.Breadcrumb li a{
    color: #FF9A5B;
}

ol.Breadcrumb li+li::before{
    padding: 4px;
    color: black;
    content: "/\00a0";
}