<div class="container" id="PubInfo">
    <h1>LA MEJOR DIETA PARA TU PERRO</h1>
    <p>Los perros necesitan una dieta equilibrada que incluya proteínas de alta calidad, grasas saludables y carbohidratos. 
        Asegúrate de que su comida contenga al menos un 18-25% de proteínas y un 10-15% de grasas.
    </p>
    <div id="PIdown">
        <span>Fecha de publicación: <u>29/09/23</u></span>
        <div id="PIdown-btn">
            <button id="PI-btn">Ver más</button>
            
        </div>
    </div>
</div>
