<div id="CrearPublicacion">
    <div class="cont-textos" id="CrearPubFecha">
        <span>02/11/2023</span>
    </div>
    <div class="container" id="CrearPubTipo">
        <button type="button" (click)="c=1" [style.background-color]="c === 1 ? '#FF9A5B' : 'white'" [style.color]="c === 1 ? 'white' : 'black'">
            Información
        </button>
        <button type="button" (click)="c=2" [style.background-color]="c === 2 ? '#FF9A5B' : 'white'" [style.color]="c === 2 ? 'white' : 'black'">
            Preguntas
        </button>
        <button type="button" (click)="c=3" [style.background-color]="c === 3 ? '#FF9A5B' : 'white'" [style.color]="c === 3 ? 'white' : 'black'">
            Recomendaciones
        </button>
    </div>
    <app-crear-info *ngIf="c==1"></app-crear-info>
    <app-crear-pregunta *ngIf="c==2"></app-crear-pregunta>
    <app-crear-recomendacion *ngIf="c==3"></app-crear-recomendacion>

    
</div>