<div id="CrearPublicacion">
    <div>
        <div class="container" id="CrearPubFiltros">
            <div class="Tema" id="Filtro">
                <span id="NombreFiltro">
                    Tema
                </span>
                <select class="selec-filtro" id="selec-filtro" [(ngModel)]="tema2.tema">
                    <option value="No especificado">No especificado</option>
                    <option value="Alimentacion">Alimentacion</option>
                    <option value="Comportamiento">Comportamiento</option>
                    <option value="Cuidados médicos">Cuidados médicos</option>
                    <option value="Crianza">Crianza</option>
                </select>

            </div>
            <div class="TipodeMascota" id="Filtro">
                <span id="NombreFiltro">
                    Tipo de Mascota
                </span>
                <select class="selec-filtro" [(ngModel)]="tipoMascota" (change)="actualizarRazas()">
                    <option value="No especificado">No especificado</option>
                    <option value="Perros">Perros</option>
                    <option value="Gatos">Gatos</option>
                    <option value="Aves">Aves</option>
                    <option value="Roedores">Roedores</option>
                    <option value="Peces">Peces</option>
                    <option value="Reptiles">Reptiles</option>
                </select>
            </div>

            <div class="Raza" id="Filtro">
                <span id="NombreFiltro">
                    Raza
                </span>
                <select class="selec-filtro" [(ngModel)]="raza">
                    <option value="No especificada">No especificada</option>
                    <option *ngFor="let r of razas" [value]="r">{{ r }}</option>
                </select>
            </div>
        </div>

        <div class="container" id="CrearPubDatos">
            <div id="PubTexto">
                <textarea id="content-textual" placeholder="Escribe algo..." [(ngModel)]="publicacion2.contenido"></textarea>
                <div style="color: #F99A5B;" *ngIf="mostrarAdvertenciaContenido" class="advertencia">¡El contenido es obligatorio!</div>

                <div id="cont-imagenes">
                    <img id="preview" />
                </div>

            </div>
            <div id="Titulo">
                <span>Enlace de Interés</span>
                <input type="text" placeholder="https://example.com" [(ngModel)]="publicacion2.enlace">
            </div>
        </div>

        <div class="down" id="Down">
            <div class="icons" id="Icons">
                <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)" />
                <a><img style="cursor: pointer;" src="https://i.ibb.co/zfhWtMs/imgpub.png" (click)="triggerFileInput()"></a>
            </div>
            <div class="btn-publicar" id="PubButton">
                <button (click)="publicar2()">PUBLICAR</button>
              </div>
        </div>
    </div>

</div>

<div id="div"></div>