/*PUBLICACION*/
#CrearPublicacion{
    background-color: #FFF2E7;
    border-radius: 25px;
    padding: 25px;
    margin-right: 30px;
}

#CrearPubFecha{
    text-align: right;
}

#CrearPubFecha span{
    text-decoration: underline;
}

#CrearPubTipo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFD9B9;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
} 

#CrearPubTipo button{
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 5px;
    border-radius: 10px;
    background-color: #F99A5B;
    border: none;
    padding: 10px 0px;
    cursor: pointer;
}