<nav class="custom-navbar">
    
    <a class="navbar-brand" routerLink="">
        <img src="./assets/logo.png" alt="Logo de la empresa" style="height: 80px;"> Pets Nature
    </a>
    
    <div class="custom-navbar-collapse" id="templatemo_main_nav">
        <ul class="custom-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="">QUIENES SOMOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">SERVICIOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">EQUIPO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">TESTIMONIOS</a>
            </li>
        </ul>
    </div>

    <a id="iniciar" routerLink="/ingreso">
        INICIAR
    </a>

</nav>
<header></header>