/* Estilos para el encabezado */
header {
    background-color: rgb(70, 50, 34);
    padding: 3px;
}
  

.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 800;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border-radius: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #ff6600;
}


nav {
    margin-left: 0px;
    height: 115px;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    font-size: 20px;
    font-weight: 800;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border-radius: 20px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    border: #463222;
}
nav a:hover {
    background-color: #fff;
    color: #ff6600;
}

#iniciar{
    display: flex;
    width: 181px;
    height: 54px;
    padding: 11px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 999px;
    background: #463222;
    color: #FFF;
    margin-right: 30px;
}

#iniciar:hover{
    background-color: #fff;
    color: #ff6600;
}