
<div class="container-flex">
    <!-- Header Navbar-->
      <nav class="navbar navbar-expand-lg" style="background-color: #b62727e1;">
              <a class="navbar-brand" href="#">
                  <img src="./assets/logo.png" alt="Logo de la empresa" style="height: 80px; "> Pets Nature
              </a>

              <div class="align-self-center collapse navbar-collapse d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                  <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto ml-auto text-right">
                      <li class="nav-item">
                          <a class="nav-link" href="#QuienesSomos">QUIENES SOMOS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Servicios">SERVICIOS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Equipo">EQUIPO</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Testimonios">TESTIMONIOS</a>
                      </li>

                  </ul>
              </div>
              
              <a id="iniciar" class="btn btn-light boton">
                INICIAR
              </a>


      </nav> 
      <header></header>

      <div class="container-flex" id="banner">
        <div class="row">
            <div class="col-md-7">
                <h2><strong>SÉ PARTE DE NUESTRA COMUNIDAD DE AMANTES DE MASCOTAS</strong></h2>
                <p></p>
                <a href="#" class="btn btn-light boton">
                    ÚNETE YA <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </div>
        </div>
      </div>

      <div class="container-flex" id="QuienesSomos">
            <h3>¿QUIÉNES SOMOS?</h3>
            <p>Somos un grupo de universitarios que estamos dispuestos a fomentar la creación de una gran comunidad de dueños de mascotas, 
                donde nuestros usuarios puedan intercambiar información valiosa a través de publicaciones detalladas, elaborar recomendaciones 
                y aclarar sus dudas sobre cualquier aspecto del cuidado de mascotas.</p>

            <div class="text-center">
                <img src="./assets/mascotas-img.png" alt="I_QuienesSomos" class="img-fluid imagen">
            </div>

      </div>

      <div class="container" id="Servicios">
        <h3>SERVICIOS</h3>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="./assets/Info_certificada.png" alt="I_QuienesSomos" class="img-fluid imagen rounded-circle">
                <h4>INFORMACIÓN CERTIFICADA</h4>
            </div>
            <div class="col-md-4 text-center">
                <img src="./assets/Comunidad_interactiva.png" alt="I_QuienesSomos" class="img-fluid imagen rounded-circle">
                <h4>COMUNIDAD INTERACTIVA</h4>
            </div>
            <div class="col-md-4 text-center">
                <img src="./assets/recomend.png" alt="I_QuienesSomos" class="img-fluid imagen rounded-circle">
                <h4>RECOMEND. Y CONSEJOS</h4>
            </div>
        </div>
    </div>
    
    

      <div class="container-flex" id="Equipo">
        <h3>EQUIPO DE TRABAJO</h3>
        <div>
            <img src="./assets/equipo.png" alt="I_QuienesSomos" class="img-fluid">
        </div>
      </div>

      <div class="container-flex" id="Testimonios">
        <h3>TESTIMONIOS</h3>
        <div>
            <img src="./assets/testimonios.png" alt="I_QuienesSomos" class="img-fluid">
        </div>
      </div>
    
    

</div>


