<nav class="custom-navbar">
    
    <a class="navbar-brand" routerLink="/intranet">
        <img src="./assets/logo.png" alt="Logo de la empresa" style="height: 80px;"> Pets Nature
    </a>
    
    <div class="custom-navbar-collapse" id="templatemo_main_nav">
        <ul class="custom-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/intranet">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/intranet/descubre">DESCUBRE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/intranet">VETERINARIAS CERCANAS</a>
            </li>
        </ul>
    </div>

    <div id="menu">

        <button mat-button [matMenuTriggerFor]="menu">
            <img src="https://i.ibb.co/GpPLFRS/img-perfil.png" alt="" style="height: 50px; border-radius: 50px;">
        </button>
    </div>
    
   <mat-menu #menu="matMenu">
    <div class="text-center"> 
        <div class="flex items-center">
            <img src="https://i.ibb.co/GpPLFRS/img-perfil.png" alt="" style="height: 50px; border-radius: 50px;">
        </div>
       <div style="font-weight: 600; padding-top: 10px;">{{ Name }}</div> 
    
    </div>
   
    <button mat-menu-item style="color: #ff6600;" *ngIf="authenticationService.isAuthenticated()" (click)="logout()" >
        Cerrar sesion
    </button>
    <button mat-menu-item  *ngIf="!authenticationService.isAuthenticated()">Iniciar sesion</button>
   </mat-menu>

    
</nav>
<header></header>




