<div class="container" id="PubPreguntas">
    <div id="cabecera">
        <img src="https://i.ibb.co/hyNMTpx/perfil-xd.png">
        <div id="cabecera-text">
            <span id="Nombre">
                LUCÍA CARMEN ESPINOZA ROJAS
            </span>
            <span id="time">hace 8 horas</span>
        </div>
    </div>
    <div id="PubBody">
        <p>🐾🤔 Debate del Día: Cuidado de Mascotas 🤔🐾
            Amigos y amigas amantes de los animales, ¡hablemos de algo importante hoy! 💬
            ¿Son partidarios de la alimentación natural o las croquetas de calidad? 🍗🥦
            <br>
            <br>
            <span id="Hashtag">#CuidadoDeMascotas #DebateAnimal #AmorIncondicional</span>
        </p>
    </div>
    <input type="text" id="comentario" class="form-control" placeholder="Comentar publicación...">
    <div id="botones">
        <a href="#"><img src="https://i.ibb.co/64MsRVG/coment-icon.png"></a>
        <a href="#"><img src="https://i.ibb.co/Sd3PBCq/compartir-icon.png"></a>
        <a href="#"><img src="https://i.ibb.co/PrS3sbH/mg-icon.png"></a>
    </div>
</div>

