<div class="container" id="PubPreguntas">
    <div id="cabecera">
        <img src="https://i.ibb.co/hyNMTpx/perfil-xd.png">
        <div id="cabecera-text">
            <span id="Nombre">
                LUCÍA CARMEN ESPINOZA ROJAS
            </span>
            <span id="time">13/11/23</span>
        </div>
    </div>
    <div id="PubBody">
        <p>🐾🤔 Debate del Día: Cuidado de Mascotas 🤔🐾
            Amigos y amigas amantes de los animales, ¡hablemos de algo importante hoy! 💬
            ¿Son partidarios de la alimentación natural o las croquetas de calidad? 🍗🥦
            <br>
            <br>
            <span id="Hashtag">#CuidadoDeMascotas #DebateAnimal #AmorIncondicional</span>
        </p>
    </div>
    
    <div id="botones">
        <a>
            <img src="../assets/mg-icon.png">
        </a>
        <a >
            <img src="../assets/coment-icon.png" >
        </a>
        <a>
            <img src="../assets/compartir-icon.png">
        </a>
    </div>

    <div id="comentario-content">
        <textarea id="comentario" class="form-control" placeholder="Comentar publicación..." cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        <button >
            <img src="../assets/enviar-icon.png"></button>
    </div>
</div>

